@model Tuple<UserModuleHours, List<User>, List<Module>>

@{
    ViewData["Title"] = "LogHours";
}

<h2>LogHours</h2>

<h4>UserModuleHours</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LogHours">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item1.UserID" class="control-label">User ID</label>
                <select asp-for="Item1.UserID" class="form-control" asp-items="ViewBag.UserID">
                    @foreach (var u in Model.Item2)
                    {
                        <option value="@u.UserID">@u.UserID @u.FirstName @u.LastName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Item1.ModuleID" class="control-label"></label>
                <select asp-for="Item1.ModuleID" class="form-control" asp-items="ViewBag.ModuleID">
                    @foreach (var m in Model.Item3)
                    {
                        <option value="@m.ModuleID">@m.ModuleID @m.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Item1.HoursAllocated" class="control-label"></label>
                <input asp-for="Item1.HoursAllocated" class="form-control" />
                <span asp-validation-for="Item1.HoursAllocated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item1.HoursWorked" class="control-label"></label>
                <input asp-for="Item1.HoursWorked" class="form-control" />
                <span asp-validation-for="Item1.HoursWorked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
