@model AllocationApp.Models.AddUserToRoleView

@{
    ViewData["Title"] = "AssignRoleToUser";
}

<h4 class="text-center">Assign Role To User</h4>
<div class="row">
    <div class="well col-md-6 col-md-offset-3">
        <form method="post">
            <div class="form-group">
                <input type="hidden" value="@Model.User.UserID" name="UserID" />
            </div>
            <div class="form-group">
                <label asp-for="User.FirstName">First Name:</label>
                <div>@Model.User.FirstName</div>
            </div>
            <div class="form-group">
                <label asp-for="User.LastName">Surname:</label>
                <div>@Model.User.LastName</div>
            </div>
            <div class="form-group">
                <select name="RoleID">
                    @foreach (var item in Model.Roles)
                {
                    <option value="@item.RoleID" name="RoleID">@item.RoleType</option>
                    @Html.DisplayFor(modelItem => item.RoleType)
            }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary">
            </div>
        </form>
        <div>
            <a asp-action="Users">Cancel</a>
        </div>
    </div>
</div>
