@model Tuple< List<Module>, List<User> >

@{
    ViewData["Title"] = "Lecturer Dashboard";
}
<div id="body_container">

    <div class="section" id="module">
        <h4>Modules</h4>

        <!-- search box -->
        <input type="text" placeholder="Type module and press enter" class="search">
        <!-- /search box -->
        
        <div class="container">
        <div class="object_box">
            <div class="list-group list-group-flush">
            @foreach (var item in Model.Item1)
            {
               <a href="#" class="list-group-item list-group-item-action">
                    @Html.DisplayFor(modelItem => item.Code)
                    @Html.DisplayFor(modelItem => item.Name)
               </a>
            }
            </div>
        </div>
        </div>
        
        <div class="view_all">
            <a href="#">View all modules</a>
        </div>

    </div>

    <div class="section" id="demonstrator">
        <h4>Demonstrators</h4>
        <!-- search box -->
        <input type="text" placeholder="Type module and press enter" class="search">
        <!-- /search box -->
        
        <div class="container">
        <div class="object_box">

        <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">NAME</th>
            <th scope="col">SKILLS</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
        @foreach (var item in Model.Item2.Take(5))
            {

                <tr>
                    <th scope="row">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</th>
                    <td>@Html.DisplayFor(modelItem => item.Skills)</td>
                    <td><a asp-action="ProposeDemonstrator" asp-route-id="@item.UserID">Propose Module</a></td>
                    <td><a asp-action="DemonstratorDetails" asp-route-id="@item.UserID">Details</a></td>
              </tr>
   
            }
        </tbody>
                    
        </table>
        </div>
        </div>

       
        </div>
            <div class="view_all">
                <a href="ModuleDemonstrators">View all demonstrators</a>
            </div>

        </div>
</div>

<script language="javascript">


    function DoPost() {
        $.post("ModuleDemonstrators", { moduleId: "2041" });  //Your values here..
    }

</script>