@model List<Proposal>

<div class="container">
    <div class="object_box">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">NAME</th>
                    <th scope="col">Course</th>

                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    @if (!item.Approved)
                    {
                        <tr>

                            <th scope="row">@Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)</th>
                            <td scope="row">@Html.DisplayFor(modelItem => item.Course.Code) @Html.DisplayFor(modelItem => item.Course.Name)</td>
                            <td><a asp-action="ConfirmProposal" asp-route-userid="@item.UserID" asp-route-courseid="@item.CourseID">Confirm Proposal</a></td>
                            <td><a asp-action="DemonstratorDetails" asp-route-id="@item.UserID">Demonstrator Details</a></td>
                            <td><a asp-action="ModuleDetails" asp-route-id="@item.CourseID">Module Details</a></td>
                        </tr>

                    }


                }
            </tbody>

        </table>
    </div>
</div>
