@model AllocationApp.Models.Subordinates

@{
    ViewData["Title"] = "Remove Subordinate";
}

<h3>Are you sure you want to remove this subordinate?</h3>
<div>
    <div class="well">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.firstname)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.firstname)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.surname)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.surname)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.occupation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.occupation)
            </dd>
        </dl>
    </div>

    <form asp-action="RemoveSubordinate">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-warning" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
