@model AllocationApp.Models.Subordinates

@{
    ViewData["Title"] = "Subordinate Details";
}

<div class="well">
    <h4>Subordinate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.firstname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.occupation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.occupation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Subordinates">Back to List</a>
</div>
